body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .landing-page {
    background-image: url("./assets/plant.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .landing-page button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .about-us-container {
    padding: 20px;
  }